{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {%include 'partials/head_c.html' %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
  font-family: Arial, Helvetica, 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
}

        .video-card {
/* width: 80%; Adjust as per your need */
    max-width: 504px; /* To restrict excessive width on large screens */
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2; /* Ash color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:30px;
    }
    .card-text {
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure text takes full width of the card */
    }
    </style>
</head>
<body style="position: relative; overflow-x: hidden;">
    <div class="bg"></div>
    
{% include 'sub_header.html' %}
    
    <div class="progressbar" style="display: flex; justify-content: center; align-items: center; margin-top: 84px; margin-bottom: 56px;">
        <div style="width: 624px; height: 10px; background: #EEEEEE; position: relative; display: flex; align-items: center;">
            <div style="position: absolute; width: 25px; height: 25px; background: #864AF9; border-radius: 90px; left: 0%;"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #EEEEEE; border-radius: 90px; left: 208px"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #EEEEEE; border-radius: 90px; left: 416px;"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #EEEEEE; border-radius: 90px; left: 100%;"></div>
            <div style="position: absolute; top: -50px; left: -75.96px;">Voice & Subtitle Design</div>
            <div style="position: absolute; top: -50px; left: 160px;">Scene Selection</div>
            <div style="position: absolute; top: -50px; left: 312px;">Background Music Selection</div>
            <div style="position: absolute; top: -50px; left: 594px;">Download</div>
        </div>
    </div>
    {% include 'messages.html' %}

    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px; z-index: 99;">
        <form action="{% url 'video_text:add_text'%}" method="post" enctype="multipart/form-data" class="form" style="width: 504px; height: 1800px; border: 1px solid #0000004D; border-radius: 8px; padding: 40px 24px; background: white;">
            {%csrf_token%}

            <div style="font-size: 24px; font-weight: 700; line-height: 29.26px; letter-spacing: -0.03em; text-align: center; margin-bottom: 40px;">
                {% include 'partials/back.html' %}

               <span> Create Your Perfect VSL: <br> Upload, Customize, and Convert!</span>
            </div>
            <div class="card-text" style="text-align: start; display: flex;">
                <h3>Tutorial Video:</h3>
            </div>
            <div class="video-card">
                <div style="display: flex;  width: 100%; height: 376px; border-radius: 8px; align-items: center; justify-content: center;">
                    <div id="videoPreviewContainer" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;">
                        <video style="max-width: 100%; max-height: 100%;" controls>
                            <source  src="{% static 'media/190.mp4' %}"  type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

            <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; text-align: left; margin-bottom: 24px;">
                Pick Your Dimensions
            </div>
            <div class="options" style="display: grid; grid-template-columns: repeat(3, 1fr); height: 290px; gap: 10px; margin-bottom: 48px;">
                <!-- Option 1: FB/IG feed -->
                <div class="box" data-resolution="1:1" style="display: flex; justify-content: center; background: white; text-align: center; border-radius: 8px; border: 1px solid #864AF9; padding: 12px 8px; cursor: pointer;">
                    <input type="radio" name="resolution" value="1:1" checked hidden>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="font-size: 18px; font-weight: 500; line-height: 21.94px; letter-spacing: -0.03em; text-align: center; margin-bottom: 30px;">Square</div>
                        <div style="height: 100px; width: 100px; background: #D9D9D9; border-radius: 8px; margin-bottom: 8px; border: 2px dashed;"></div>
                        <div class="text" style="font-size: 16px; font-weight: 400; line-height: 21.79px; letter-spacing: -0.03em; text-align: center; margin-bottom: 12px;">1:1</div>
                        <div class="circle-outer" style="width: 15px; height: 15px; border-radius: 90px; border: 3px solid #864AF9; display: flex; justify-content: center; align-items: center; padding: 7px;">
                            <div class="circle-inner" style="width: 100%; height: 100%; border-radius: 90px; background: #864AF9;"></div>
                        </div>
                    </div>
                </div>
            
                <!-- Option 2: TikTok/Short -->
                <div class="box" data-resolution="4:5" style="display: flex; justify-content: center; background: white; text-align: center; border-radius: 8px; border: 1px solid #88888877; padding: 12px 8px; cursor: pointer;">
                    <input type="radio" name="resolution" value="4:5" hidden>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="font-size: 18px; font-weight: 500; line-height: 21.94px; letter-spacing: -0.03em; text-align: center; margin-bottom: 30px;">Vertical/Portrait</div>
                        <div style="height: 100px; width: 80px; background: #D9D9D9; border-radius: 8px; margin-bottom: 8px; border: 2px dashed;"></div>
                        <div class="text" style="font-size: 16px; font-weight: 400; line-height: 21.79px; letter-spacing: -0.03em; text-align: center; margin-bottom: 12px;">4:5</div>
                        <div class="circle-outer" style="width: 15px; height: 15px; border-radius: 90px; border: 3px solid #D9D9D9; display: flex; justify-content: center; align-items: center; padding: 7px;">
                            <div class="circle-inner" style="width: 100%; height: 100%; border-radius: 90px; background: #D9D9D9;"></div>
                        </div>
                    </div>
                </div>
            
                <!-- Option 3: YouTube -->
                <div class="box" data-resolution="16:9" style="display: flex; justify-content: center; background: white; text-align: center; border-radius: 8px; border: 1px solid #88888877; padding: 12px 8px; cursor: pointer;">
                    <input type="radio" name="resolution" value="16:9" hidden>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="font-size: 18px; font-weight: 500; line-height: 21.94px; letter-spacing: -0.03em; text-align: center; margin-bottom: 30px;">YouTube</div>
                        <div style="height: 100px; width: 155px; background: #D9D9D9; border-radius: 8px; margin-bottom: 8px; border: 2px dashed;"></div>
                        <div class="text" style="font-size: 16px; font-weight: 400; line-height: 21.79px; letter-spacing: -0.03em; text-align: center; margin-bottom: 12px;">16:9</div>
                        <div class="circle-outer" style="width: 15px; height: 15px; border-radius: 90px; border: 3px solid #D9D9D9; display: flex; justify-content: center; align-items: center; padding: 7px;">
                            <div class="circle-inner" style="width: 100%; height: 100%; border-radius: 90px; background: #D9D9D9;"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div style="display:flex; flex-direction: column; gap: 24px;">
                <div style="width: 100%; height: 50px; display: flex; flex-direction: column;">

                    <div class="11Labs-Api-key-text" style="display: flex; align-items: center; margin-bottom: 16px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 26.1px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            ElevenLabs Api Key:
                        </div>
                        <div class="vh-parent">
                            <div class="vh-child">
                                <span class="text3">
                                    An unique code from your Eleven Labs account that lets VSLMaker.io use your selected AI voices. Find it in your Eleven Labs account under API settings.
                                </span>
                            </div>
                            ?
                        </div>
                    </div>
                    <div class="11Labs-Api-key-textarea" style="margin-bottom: 24px;">
                        <input type="text" class="text3"name="elevenlabs_apikey" placeholder="ElevenLabs Api Key" style="width: 100%; height: 56px; border: 1px solid #E3E3E3; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease;">
                    </div>
                    <div class="Voice-ID-text" style="display: flex; align-items: center; margin-bottom: 16px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 26.1px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Voice ID:
                        </div>
                        <div class="vh-parent">
                            <div class="vh-child">
                                <span class="text3">
                                    The specific identifier for the voice you want to use. Each voice in your Eleven Labs account has its own unique ID.
                                </span>
                            </div>
                            ?
                        </div>
                    </div>
                    
                    <div class="Voice-ID-textarea" style="margin-bottom: 24px;">
                        <input type="text" class="text3" placeholder="Enter Voice ID"name="voiceid" style="width: 100%; height: 56px; border: 1px solid #E3E3E3; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease;">
                    </div>

                    <div class="Line" style="width: 100%; border: 1px solid #E3E3E3; margin-bottom: 24px;"></div>
                    <div style="font-size: 24px; font-weight: 600; line-height: 29.26px; text-align: left; letter-spacing: 0px; margin-bottom: 24px;">Subtitle Design</div>
                    <div class="Upload-Font-File-text" style="display: flex; align-items: center; margin-bottom: 8px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Choose Font:
                        </div>
                    </div>
                    <div class="Upload-Font-File-Upload" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 8px; gap: 24px; display: flex; align-items: center; margin-bottom: 24px;">
                        <div style="width: fit-content; color: black; display: flex; align-items: center; gap: 10px; position: relative; flex-grow: 1;">
                            <select id="font_select" name="font_select" style="width: 100%; padding: 8px 24px; font-size: 16px; border-radius: 8px; border:none; cursor: pointer;">
                                <option value="" disabled selected>Select A Font</option>
                                <option value="Arial">Arial</option>
                                <option value="Open Sans">Open Sans</option>
                                <option value="Helvetica">Helvetica</option>
                                <option value="Roboto">Roboto</option>
                                <option value="Montserrat">Montserrat</option>
                            </select>
                        </div>
                    </div>

                    <div class="Font-Size-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Font Size:
                        </div>
                        <span id="SliderValue" style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; color: #000000B2;">0</span>
                    </div>
                    <div class="Font-Size-Slider" style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 36.89px;">
                        <input type="range" name="font_size1" min="0" max="25" value="20" class="slider" id="mySlider" style="width: 100%;">
                        <input type="number" hidden name="font_size" value="50" class="slider" id="font_size" style="width: 100%;">
                    </div>
                    <div class="Font-Color-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Font Color:
                        </div>
                    </div>

                    <div class="Font-Color-textarea" style="margin-bottom: 24px; display: flex; align-items: center; position: relative;">
                        <div id="color1" style="width: 35px; height: 35px; background: #FFFFFF; border-radius: 4px; border: 1px solid #000000B2; position: absolute; left: 10px;">
                            <input type="color" name="font_color" id="colorPicker1" value="#ffffff" style="position: absolute; padding: 0; width: 35px; height: 35px; opacity: 0;">
                        </div>
                        <input id="colortext1" type="text" class="focusdefault" placeholder="#ffffff" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease; padding-left: 55px;">
                    </div>
                    <div class="Subtitle-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Subtitles Background Color:
                        </div>
                    </div>
                    <div class="Subtitle-textarea" style="margin-bottom: 48px; display: flex; align-items: center; position: relative;">
                        <div id="color2" style="width: 35px; height: 35px; background: #000000; border-radius: 4px; border: 1px solid #000000B2; position: absolute; left: 10px;">
                            <input type="color" name="subtitle_box_color" id="colorPicker2" value="#000000" style="position: absolute; padding: 0; width: 35px; height: 35px; opacity: 0;">
                        </div>
                        <input id="colortext2" type="text" class="focusdefault" placeholder="#000000" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease; padding-left: 55px;">
                    </div>
                    <div class="Preview" style="width: 100%; height: 435px; margin-bottom: 28px;">
                        <div class="Preview-text" style="display: flex; align-items: center; margin-bottom: 24px; justify-content: space-between;">
                            <div style="font-size: 24px; font-weight: 600; line-height: 29.26px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                                Preview
                            </div>
                        </div>
                        <div style="width: 100%; height: 382px; background: #EEEEEE; border-radius: 8px; display: flex; justify-content: center; align-items: center; position: relative; flex-direction: column;">
                            <span style="font-size: 32px; font-weight: 700; line-height: 39.01px; letter-spacing: -0.8px; text-align: center; color: #00000080;">
                                Your Selected Video <br> Scene Will Go Here
                            </span>
                            <div id="previewBackground" style="width: fit-content; height: fit-content; margin: 0 20px; background: #000000; position: absolute; bottom: 20px; border-radius: 8px; padding: 12px 12px; display: flex; align-items: center; opacity: 0.5; justify-content: center;">
                                <span id="previewText" style="font-size: 20px; font-weight: 600; line-height: 24.38px; text-align: center; color: white; opacity: 1;">
                                    This Is How Your Original Subtitle Text Will Be Displayed

                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="done-button">
                        <span style="font-size: 18px; font-weight: 500; line-height: 21.94px; text-align: left;">
                                Proceed To Scene Selection    
                        </span>
                    </button>
                </div>
            </div>
        
        </form>

    </div>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
