
    {% extends 'wrapper/base.html' %}
    {% load static %}
    {% block page_title %}VLS Maker2{% endblock page_title %}
    
    {% block extra_style %}
    <!-- <link rel="stylesheet" href="{% static  'css/style.css'%}"> -->
        {% endblock extra_style %}
              
{% block content %}
      
    
    <div class="progressbar" style="display: flex; justify-content: center; align-items: center; margin-top: 84px; margin-bottom: 56px;">
        <div style="width: 624px; height: 10px; background: #EEEEEE; position: relative; display: flex; align-items: center;">
            <div style="position: absolute; width: 25px; height: 25px; background: #864AF9; border-radius: 90px; left: 0%;"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #EEEEEE; border-radius: 90px; left: 208px"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #EEEEEE; border-radius: 90px; left: 416px;"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #EEEEEE; border-radius: 90px; left: 100%;"></div>
            <div style="position: absolute; top: -50px; left: -75.96px;">Voice & Subtitle Design</div>
            <div style="position: absolute; top: -50px; left: 160px;">Scene Selection</div>
            <div style="position: absolute; top: -50px; left: 312px;">Background Music Selection</div>
            <div style="position: absolute; top: -50px; left: 594px;">Download</div>
        </div>
    </div>
    
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px; z-index: 99;">
        <form action="/video/vsl_maker" method="post" enctype="multipart/form-data" class="form" style="width: 504px; height: 1898px; border: 1px solid #0000004D; border-radius: 8px; padding: 40px 24px; background: white;">
            <div style="font-size: 24px; font-weight: 700; line-height: 29.26px; letter-spacing: -0.03em; text-align: center; margin-bottom: 72px;">
                Create Your Perfect VSL: <br> Upload, Customize, and Convert!
            </div>
            <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; text-align: left; margin-bottom: 24px;">
                Dimensions
            </div>
            <div class="options" style="display: grid; grid-template-columns: repeat(2, 1fr); height: 290px; gap: 10px; margin-bottom: 48px;">
                <!-- Option 1: FB/IG feed -->
                <div id="box-1" onclick="selectOption('1:1')" style="display: flex; justify-content: center; background: white; text-align: center; border-radius: 8px; border: 1px solid #864AF9; padding: 12px 8px; cursor: pointer;">
                    <input type="radio" id="option1" name="resolution" value="1:1" checked hidden>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="font-size: 18px; font-weight: 500; line-height: 21.94px; letter-spacing: -0.03em; text-align: center; margin-bottom: 30px;">
                            FB/IG feed
                        </div>
                        <div style="height: 100px; width: 100px; background: #D9D9D9; border-radius: 8px; margin-bottom: 8px; border: 2px dashed;"></div>
                        <div class="text" style="font-size: 16px;font-weight: 400;line-height: 21.79px;letter-spacing: -0.03em; text-align: center; margin-bottom: 12px;">
                            1:1
                        </div>
                        <div id="circle-11" style="width: 15px; height: 15px; border-radius: 90px; border: 3px solid #864AF9; display: flex; justify-content: center; align-items: center; padding: 7px; margin-top: 10px;">
                            <div id="circle-12" style="width: 100%; height: 100%; border-radius: 90px; background: #864AF9;"></div>
                        </div>
                    </div>
                </div>
            
                <!-- Option 2: YouTube -->
                <div id="box-2" onclick="selectOption('16:9')" style="display: flex; justify-content: center; background: white; text-align: center; border-radius: 8px; border: 1px solid #88888877; padding: 12px 8px; cursor: pointer;">
                    <input type="radio" id="option2" name="resolution" value="16:9" style="display: none;">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="font-size: 18px; font-weight: 500; line-height: 21.94px; letter-spacing: -0.03em; text-align: center; margin-bottom: 30px;">
                            YouTube
                        </div>
                        <div style="height: 100px; width: 155px; background: #D9D9D9; border-radius: 8px; margin-bottom: 8px; border: 2px dashed;"></div>
                        <div class="text" style="font-size: 16px;font-weight: 400;line-height: 21.79px;letter-spacing: -0.03em; text-align: center; margin-bottom: 12px;">
                            16:9
                        </div>
                        <div id="circle-21" style="width: 15px; height: 15px; border-radius: 90px; border: 3px solid #D9D9D9; display: flex; justify-content: center; align-items: center; padding: 7px;">
                            <div id="circle-22" style="width: 100%; height: 100%; border-radius: 90px; background: #D9D9D9;"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div style="display:flex; flex-direction: column; gap: 24px;">
                <div style="width: 100%; height: 50px; display: flex; flex-direction: column;">
                    <div class="Script-text-file-text" style="display: flex; align-items: center; margin-bottom: 16px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 26.1px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Script Text File:
                        </div>
                    </div>
                    <div class="Script-text-file-Upload" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 8px; gap: 24px; display: flex; align-items: center; margin-bottom: 24px;">
                        <div style="padding: 8px 24px; border-radius: 8px; cursor: pointer; background: #864AF9; width: fit-content; color: white; display: flex; align-items: center; gap: 10px; position: relative;">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5 12.5V15.8333C17.5 16.2754 17.3244 16.6993 17.0118 17.0118C16.6993 17.3244 16.2754 17.5 15.8333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V12.5M14.1667 6.66667L10 2.5M10 2.5L5.83333 6.66667M10 2.5V12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                            <span class="text2" style="font-size: 16px; line-height: 24px; text-align: center; font-weight: 400;">Choose file</span>
                            <input type="file" id="fileUpload" name="textfile" accept=".txt" style="width: 100%; height: 100%; position: absolute; opacity: 0; cursor: pointer; z-index: 2; left: 0; border-radius: 8px;">
                        </div>
                        <div class="text2" id="fileName" style="color: #00000080;">No file chosen</div>
                    </div>
                    <div class="Voice-ID-text" style="display: flex; align-items: center; margin-bottom: 16px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 26.1px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Voice ID:
                        </div>
                        <div class="vh-parent">
                            <div class="vh-child">
                                <span class="text3">
                                    The specific identifier for the voice you want to use. Each voice in your Eleven Labs account has its own unique ID.
                                </span>
                            </div>
                            ?
                        </div>
                    </div>
                    <div class="Voice-ID-textarea" style="margin-bottom: 24px;">
                        <input type="text" class="text3" placeholder="Enter Voice ID"name="voiceid" style="width: 100%; height: 56px; border: 1px solid #E3E3E3; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease;">
                    </div>
                    <div class="11Labs-Api-key-text" style="display: flex; align-items: center; margin-bottom: 16px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 26.1px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            ElevenLabs Api Key:
                        </div>
                        <div class="vh-parent">
                            <div class="vh-child">
                                <span class="text3">
                                    An unique code from your Eleven Labs account that lets VSLMaker.io use your selected AI voices. Find it in your Eleven Labs account under API settings.
                                </span>
                            </div>
                            ?
                        </div>
                    </div>
                    <div class="11Labs-Api-key-textarea" style="margin-bottom: 24px;">
                        <input type="text" class="text3"name="elevenlabs_apikey" placeholder="ElevenLabs Api Key" style="width: 100%; height: 56px; border: 1px solid #E3E3E3; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease;">
                    </div>
                    <div class="Line" style="width: full; border: 1px solid #E3E3E3; margin-bottom: 24px;"></div>
                    <div style="font-size: 24px; font-weight: 600; line-height: 29.26px; text-align: left; letter-spacing: 0px; margin-bottom: 24px;">Subtitle Design</div>
                    <div class="Upload-Font-File-text" style="display: flex; align-items: center; margin-bottom: 8px;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Upload Font File:
                        </div>
                    </div>
                    <div class="Upload-Font-File-Upload" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 8px; gap: 24px; display: flex; align-items: center; margin-bottom: 24px;">
                        <div style="padding: 8px 24px; border-radius: 8px; cursor: pointer; background: #864AF9; width: fit-content; color: white; display: flex; align-items: center; gap: 10px; position: relative;">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5 12.5V15.8333C17.5 16.2754 17.3244 16.6993 17.0118 17.0118C16.6993 17.3244 16.2754 17.5 15.8333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V12.5M14.1667 6.66667L10 2.5M10 2.5L5.83333 6.66667M10 2.5V12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                            <span class="text2" style="font-size: 16px; line-height: 24px; text-align: center; font-weight: 400;">Choose file</span>
                            <input type="file" id="font_file" name="font_file" style="width: 100%; height: 100%; position: absolute; opacity: 0; cursor: pointer; z-index: 2; left: 0; border-radius: 8px;">
                        </div>
                        <div class="text2" id="font_file_name" style="color: #00000080;">No file chosen</div>
                    </div>
                    <div class="Font-Size-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Margin
                        </div>
                        <span id="marginSliderValue" style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; color: #000000B2;">30</span>
                    </div>
                    <div class="Font-Size-Slider" style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 36.89px;">
                        <input type="range" name="margin" min="0" max="50" value="40" class="slider" id="marginSlider" style="width: 100%;">
                    </div>
                    <div class="Font-Size-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Font Size:
                        </div>
                        <span id="SliderValue" style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; color: #000000B2;">0</span>
                    </div>
                    <div class="Font-Size-Slider" style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 36.89px;">
                        <input type="range" name="font_size" min="0" max="100" value="50" class="slider" id="mySlider" style="width: 100%;">
                    </div>
                    <div class="Font-Color-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Font Color:
                        </div>
                    </div>

                    <div class="Font-Color-textarea" style="margin-bottom: 24px; display: flex; align-items: center; position: relative;">
                        <div id="color1" style="width: 35px; height: 35px; background: #FFFFFF; border-radius: 4px; border: 1px solid #000000B2; position: absolute; left: 10px;">
                            <input type="color" name="font_color" id="colorPicker1" value="#ffffff" style="position: absolute; padding: 0; width: 35px; height: 35px; opacity: 0;">
                        </div>
                        <input id="colortext1" type="text" class="focusdefault" placeholder="#ffffff" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease; padding-left: 55px;">
                    </div>
                    <div class="Subtitle-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            Subtitles Background Color:
                        </div>
                    </div>
                    <div class="Subtitle-textarea" style="margin-bottom: 48px; display: flex; align-items: center; position: relative;">
                        <div id="color2" style="width: 35px; height: 35px; background: #000000; border-radius: 4px; border: 1px solid #000000B2; position: absolute; left: 10px;">
                            <input type="color" name="color"name="subtitle_box_color" id="colorPicker2" value="#000000" style="position: absolute; padding: 0; width: 35px; height: 35px; opacity: 0;">
                        </div>
                        <input id="colortext2" type="text" class="focusdefault" placeholder="#000000" style="width: 100%; height: 56px; border: 1px solid #000000B2; box-sizing: border-box; border-radius: 8px; padding: 12px 24px; display: flex; align-items: center; transition: 0.3s ease; padding-left: 55px;">
                    </div>
                    <div class="Preview" style="width: 100%; height: 435px; margin-bottom: 28px;">
                        <div class="Preview-text" style="display: flex; align-items: center; margin-bottom: 24px; justify-content: space-between;">
                            <div style="font-size: 24px; font-weight: 600; line-height: 29.26px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                                Preview
                            </div>
                        </div>
                        <div style="width: 100%; height: 382px; background: #EEEEEE; border-radius: 8px; display: flex; justify-content: center; align-items: center; position: relative; flex-direction: column;">
                            <span style="font-size: 32px; font-weight: 700; line-height: 39.01px; letter-spacing: -0.8px; text-align: center; color: #00000080;">
                                Your Selected Video <br> Scene Will Go Here
                            </span>
                            <div id="previewBackground" style="width: fit-content; height: fit-content; margin: 0 20px; background: #000000; position: absolute; bottom: 20px; border-radius: 8px; padding: 12px 12px; display: flex; align-items: center; opacity: 0.5; justify-content: center;">
                                <span id="previewText" style="font-size: 20px; font-weight: 600; line-height: 24.38px; text-align: center; color: white; opacity: 1;">
                                    Text Preview
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="done-button">
                        <span style="font-size: 18px; font-weight: 500; line-height: 21.94px; text-align: left;">
                                Proceed To Scene Selection    
                        </span>
                    </button>
                </div>
            </div>
        
        </form>

    </div>
    {% endblock content %}

    {% block extra_script %}
    <script src="{% static  'js/script.js'%}"></script>
     {% endblock  %}
</body>
</html>