{% extends 'accounts/base.html' %}
{% block content %}

<div style="
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
">
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" style="
        position: absolute;
        z-index: -1;
        width: 1000px;
        height: auto;
        filter: blur(400px);
        opacity: 35%;
    ">
    <div class="form-container" style="
        width: 400px;
        padding: 40px 32px;
        background: white;
        border-radius: 8px;
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
        text-align: center;
    ">
        <div class="logo" style="
            display: flex;
            align-items: center;
            row-gap: 32px;
            flex-direction: column;
        ">
            <!-- Logo -->
            <svg width="279" height="42" viewBox="0 0 279 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- SVG content here -->
            </svg>
        </div>

        <h2>Password Reset Sent</h2>
        <p>A link to reset your password has been sent to your email. Please check your inbox and follow the instructions.</p>
        <p>Once you've reset your password, you can <a href="/accounts/login" style="color: #007BFF;">Login</a></p>
    </div>
</div>

{% endblock content %}
