{% extends 'partials/modal_base.html' %}
{% load static%}
<!-- Container for the modal -->
{% block content %}    

<h2>Add Video Clip to {{ category.name }}</h2>
<form hx-post="{{request.path}}" hx-target="#confirmation-box" hx-swap="innerHTML" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Upload Instruction -->
    <div style="margin-bottom: 16px;">
        <label style="font-weight: bold;">Upload Video File:</label>
        <span>Please select a video file to upload.</span>
    </div>

    <!-- Video File Upload Section -->
    <div style="border: 1px solid #000; border-radius: 8px; padding: 8px; display: flex; align-items: center; margin-bottom: 24px;">
        <label style="background: #864AF9; color: white; padding: 8px 24px; border-radius: 8px; cursor: pointer; position: relative;">
            Choose video file
            <input type="file" name="video_file" accept="video/*" required style="position: absolute; opacity: 0; cursor: pointer; left: 0;">
        </label>
        <!-- Display File Name -->
        <div id="fileName" style="color: #00000080; margin-left: 10px;">No file chosen</div>
    </div>

    <!-- Submit Button -->
    <div style="text-align: center;">
        <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Add Clip</button>
    </div>
</form>
<script src="{% static 'htmx.js' %}"></script>

<script>
    // JavaScript to display the selected file name
    document.querySelector('input[name="video_file"]').addEventListener('change', function(event) {
        const input = event.target;
        const fileName = input.files.length > 0 ? input.files[0].name : 'No file chosen';
        document.getElementById('fileName').textContent = fileName;
    });
    </script>
{% endblock content %}    
