
{% extends 'partials/short_modal.html' %}
<!-- Container for the modal -->
{%block modal_heading %}
Confirmation
{%endblock modal_heading %}

{%block instruction %}
Are you sure you want to delete this asset and its content?
{%endblock  %}
{% block action %}
<button id="deleteBtn" class="delete-btn">Delete</button>
            

{% endblock action %}
{%block form_d %}

<form hx-post="{{request.path}}" hx-on="htmx:afterRequest: window.location.reload()" id="video_form"  enctype="multipart/form-data">
{%endblock form_d %}
{% block content %}            

{% endblock content %}            
