
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    {%include 'partials/head_c.html' %}

    <link rel="stylesheet" href="{% static 'download.css' %}">

    
</head>
<body class="bg" style="position: relative; overflow-x: hidden;">
    
{% include 'sub_header.html' %}
    
    <div class="progressbar" style="display: flex; justify-content: center; align-items: center; margin-top: 84px; margin-bottom: 56px;">
        <div style="width: 624px; height: 10px; background: #EEEEEE; position: relative; display: flex; align-items: center;">
            <div style="position: absolute; width: 25px; height: 25px; background: #864AF9; border-radius: 90px; left: 0%;"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #864AF9; border-radius: 90px; left: 208px"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #864AF9; border-radius: 90px; left: 416px;"></div>
            <div style="position: absolute; width: 25px; height: 25px; background: #864AF9; border-radius: 90px; left: 100%;"></div>


            <div style="position: absolute; width: 634px; height: 10px; background: #864AF9; border-radius: 90px; left: 0;"></div>


            <div style="position: absolute; top: -50px; left: -75.96px;">Voice & Subtitle Design</div>
            <div style="position: absolute; top: -50px; left: 160px;">Scene Selection</div>
            <div style="position: absolute; top: -50px; left: 312px;">Background Music Selection</div>
            <div style="position: absolute; top: -50px; left: 594px;">Download</div>
        </div>
    </div>
    <div class="container" style="display: flex; width: 100%; justify-content: center; margin-bottom: 50px;">
        <div style="display: flex; text-align: center; width: 524px; height: fit-content;  gap: 48px; background: white; border: 1px solid #0000004D; border-radius: 8px; justify-content: center; align-items: center; flex-direction: column; padding: 40px 24px;">
            <span style="font-family: Montserrat;font-size: 24px;font-weight: 700;line-height: 29.26px;text-align: center;">Your Video Has Been Generated Successfully</span>
            <div style="display: flex;  width: 100%; height: 376px; border-radius: 8px; align-items: center; justify-content: center;">
                <div id="videoPreviewContainer" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;">
                    <video style="max-width: 100%; max-height: 100%;" controls>
                        {% if bg_music == 'false' %}
                        <source src="{{ text_file.generated_watermarked_video.url}}" type="video/mp4">
                            
                        {% else %}
                        
                            
                        <source src="{{ text_file.generated_final_bgmw_video.url }}" type="video/mp4">
                        {% endif %}
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
                    {% if bg_music == 'false' %}
                    <a href="{% url 'video_text:download_file' file_key=text_file.generated_final_video.name %}"download style="display: flex; box-sizing: border-box; align-items: center; justify-content: center; text-decoration: none; background: #864AF9; border-radius: 8px; font-family: Montserrat; font-size: 18px; font-weight: 500; line-height: 21.94px; text-align: left; color: white; padding: 12px 24px; width: 100%; gap: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            
                            <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15M7 10L12 15M12 15L17 10M12 15V3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span style="line-height: 24px;">Download</span>
                    </a>
                    {% else %}
                    <a href="{% url 'video_text:download_file' file_key=text_file.generated_final_bgm_video.name %}"download style="display: flex; box-sizing: border-box; align-items: center; justify-content: center; text-decoration: none; background: #864AF9; border-radius: 8px; font-family: Montserrat; font-size: 18px; font-weight: 500; line-height: 21.94px; text-align: left; color: white; padding: 12px 24px; width: 100%; gap: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            
                            <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15M7 10L12 15M12 15L17 10M12 15V3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span style="line-height: 24px;">Download</span>
                    </a>
                    {% endif %}
                <p style="margin-top:-40px;font-size:12px;">*Please Note That  When You Click Download, Watermark Will Be Removed</p>
            
        </div>
    </div>
<script>
//     const pfp = document.getElementById('pfp');
// const dropdown = document.getElementById('pfpdropdown');

//     pfp.addEventListener('click', function() {
//         dropdown.classList.toggle('not-present');
//         dropdown.classList.toggle('present');
//     });


//     document.addEventListener('click', function(event) {
//         if (!dropdown.contains(event.target) && !pfp.contains(event.target)) {
//             dropdown.classList.remove('present');
//             dropdown.classList.add('not-present');
//         }
//     });
</script>
</body>
</html>
