
<div class="container">
    <div class="breadcrumb-nav">
      <ul>
        <li><a href="#">Root</a></li>
        <li><a href="#">Folder1</a></li>
        <li>Subfolder1</li>
      </ul>
    </div>
  
    <div class="folder-grid">
      <!-- Folder Card -->
      <div class="card folder-card">
        <div class="card-body">
          <i class="fas fa-folder fa-4x"></i>
          <h5 class="card-title">Folder Name</h5>
          <span class="three-dots-menu">
            <i class="fas fa-ellipsis-v"></i>
          </span>
        </div>
      </div>
  
      <!-- Video Card -->
      <div class="card video-card">
        <div class="card-body">
          <div class="video-thumbnail">
            <img src="thumbnail.jpg" alt="Video Thumbnail">
            <button class="play-btn"><i class="fas fa-play"></i></button>
          </div>
          <h5 class="card-title">Video Title</h5>
          <span class="three-dots-menu">
            <i class="fas fa-ellipsis-v"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  