<!-- <p>Hi {{ user.get_username }}</p>

<p>You're receiving this email because you requested a password reset for your account. Click the link below to reset your password:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>

<p>If you didn't request this, you can ignore this email.</p> -->


<!-- account/password_reset_email.html -->
{% autoescape off %}
<p>Hi {{ user.get_username }}</p>

<p>You're receiving this email because you requested a password reset for your account. Click the link below to reset your password:</p>

<p>
    <a href="{{ protocol }}://{{ domain }}/accounts/reset/{{ uidb64 }}/{{ token }}/">Reset Password</a>
</p>

<p>If you didn't request this, you can ignore this email.</p>
{% endautoescape %}
