{%extends 'accounts/base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<div class="container">
  <h2>Enter New Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.new_password1.label }}
            {{ form.new_password1 }}
            {% for error in form.new_password1.errors %}
                <div class="alert">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.new_password2.label }}
            {{ form.new_password2 }}
            {% for error in form.new_password2.errors %}
                <div class="alert">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit">Change Password</button>
      </form>
    </div>
    
    {% endblock content %}