{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets Management</title>
    <link rel="stylesheet" href="{% static 'resources/assets//folder1.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'resources/assets/assets1/logo.svg' %}" alt="">
        <div class="right">
            <span>Credits Remaining: 10</span>
            <img src="{% static 'resources/assets/assets1/Profile.svg' %}" alt="">
            <div class="not-present" id="pfpdropdown"></div>
                <div style="border-bottom: 0.2px solid #00000080; box-sizing: border-box; width: 100%; display: flex; flex-direction: column; gap: 12px; padding: 18px 14px;">
                    <span style="font-size: 24px;font-weight: 600;line-height: 30.24px;letter-spacing: -0.02em;text-align: left; color: #191919;">{{ user.first_name }} {{ user.last_name}}</span>
                    <span style="font-size: 20px;font-weight: 400;line-height: 25.2px;letter-spacing: -0.02em;text-align: left; color: #191919B2;">{{user.email }}</span>
                </div>
                <div style="border-bottom: 0.2px solid #00000080; width: 100%; box-sizing: border-box; display: flex; flex-direction: column; gap: 26px; padding: 18px 14px ;">
                    <span class="dropdownText">View Profile</span>
                    <div class="display: flex; box-sizing: border-box; width: 100%; flex-direction: row; ">
                        <div class="dropdownText" style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                            <span class="dropdownText" style="width: fit-content;" >Credit left</span>
                            <span class="dropdownText" style="width: fit-content; color: #19191980;">{{user.credit.credits}}</span>
                        </div>
                    </div>
                    <span class="dropdownText"><a href="/video/assets">Manage Assets Folders</a></span>
                    <!-- <span class="dropdownText">Setting</span> -->
                </div>
                <div style="width: 100%; box-sizing: border-box; display: flex; flex-direction: column; gap: 36px; padding: 18px 14px ;">
                    <span class="dropdownText"><a href="/accounts/login">Log out</a></span>
                </div>
            </div>
        </div>
    </header>
{% include 'messages.html'%}

    <div class="content">
        <div class="box">
            <div>
                <div class="folderpath">
                    <a href="{%url 'video:category_view' %}">Assets Library</a>
                    <img src="{% static 'resources/assets/assets1/Chevron-down.svg' %}" alt="">
                </div>
                <div class="newFolder">
                    <a hx-get="{% url 'video:upload_video_folder' %}"  hx-target="#confirmation-box" 
                        hx-swap="innerHTML"> 
                        <img src="{% static 'resources/assets/assets1/create.svg' %}" alt="">
                        Create New Folder
                    </a>
                </div>
            </div>
            <div class="log">
                <div>
                    <div>
                        <input type="checkbox" name="selectall" id="">
                        <div>Folder Name</div>
                    </div>
                    <div>Items</div>
                    <div>Modified At</div>
                </div>
                {% for folder in folders %}
                <div>
                    
                    <div>
                        <input type="checkbox" name="selectall" id="">
                        <div>
                            
                            <a href="{%url 'video:subcategory_view' folder.id %}">
                                {{folder.name}}
                            </a>
                        </div>
                    </div>
                    <div>{{folder.get_clip_number}}</div>
                    <div>{{folder.update_at }}</div>
                    <img src="{% static 'resources/assets/assets1/dots.svg' %}"class="menu" alt="">
                    <div class="actions">
                        <div>
                            <a hx-get="{% url 'video:rename_folder' folder.id %}"  hx-target="#confirmation-box" 
                            hx-swap="innerHTML">
                                <img src="{% static 'resources/assets/assets1/rename.svg' %}" alt="">
                                Rename
                            </a>
                        </div>
                        <div>
                            <a hx-get="{% url 'video:delete_category' folder.id %}"  hx-target="#confirmation-box" 
                            hx-swap="innerHTML">
                                <img src="{% static 'resources/assets/assets1/delete.svg' %}" alt="">
                                Delete
                            </a> 


                        </div>
                    </div>
                </div>
                {% endfor %}
<!--                 
                <div>
                    <div>
                        <input type="checkbox" name="selectall" id="">
                        <div>Folder Num 2</div>
                    </div>
                    <div>1</div>
                    <div>Sep 19, 05:58am</div>
                    <img src="{% static 'resources/assets/assets1/dots.svg' %}" alt="">
                </div> -->
            </div>

        </div>
    </div>

    
    <script src="{% static 'resources/assets/folder.js' %}"></script>
</body>
</html> 