@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(196, 113, 255, 0.10) 88%, rgba(148, 0, 255, 0.06) 100%);
    min-height: 100vh;
    font-size: 1.11vw;
}

/* header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.115);
    padding: 0.84vw 7.5vw;
    font-weight: 600;
}
.right {
    display: flex;
    align-items: center;
}

header > .right > span {
    padding: 0.555vw 1.111vw;
    border-right: solid 2px #00000045;
}
header > .right > img {
    padding-left: 1.111vw ;
    height: 3.777vw;
    aspect-ratio: 1;
}
header > img {
    height: 2.666vw;
}
 */


.content {
    width: 100%;
    height: 100%;
    padding: 3.88vw 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    height: fit-content;
    border: solid 1px #0000004D;
    background: white;
    border-radius: 8px;
    padding-bottom: 2.77vw;
}
.box > div:first-child {
    width: 100%;
    padding: 0 1.666vw;
    padding-top: 2.18vw;
    padding-bottom: 1.63vw;
    border-bottom: solid 1px #0000004D;
    font-size: 1.666vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.box > div > .newFolder {
    font-size: 1.388vw;
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

.box > div > .newFolder > img {
    height: 1.666vw;
}
.box > div > .folderpath {
    display: flex;
    align-items: center;
    gap: 0.7vw;
}
.box > div > .folderpath > img {
    height: 1.666vw;
}
.box > .log {
    padding: 0 2.22vw;
}

.box > .log > div {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #0000004D;
    padding: 1.7vw 0;
    font-size: 1.388vw;
    font-weight: 500;
}
.box > .log > div > div:first-child {
    display: flex;
    align-items: center;
    gap: 2.222vw;
    width: 54.9vw;
}
.box > .log > div > div:nth-child(2) {
    margin-left: 1.5vw;
    width: 5.9vw;
}
.box > .log > div > div:nth-child(3) {
    width: 18vw;
    margin-right: 4vw;
}

.box > .log > div:first-child > div:first-child {
    display: flex;
    align-items: center;
    gap: 0.7vw;
}
.box > .log > div:first-child > div:nth-child(2) {
    width: 8.3vw;
    margin-left: 0;
}
.box > .log > div:first-child > div:nth-child(3) {
    margin-right: 0vw;
    width: 21vw;
}

.box > .log > div > div:first-child > input {
    transform: scale(1.7);
    border: black;
}

.log > div {
    position: relative;
}
.log > div > img {
    cursor: pointer;
}

.log > div > .actions {
    position: absolute;
    background: white;
    border-radius: 0.5vw;
    right: 0;
    top: 4.3vw;
    box-shadow: 0 0 0.2vw #0000004D;
    border: solid 1px #0000004D;
    z-index: 99;
}
.log > div > .actions > div {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 0.5vw 0.6vw;
    cursor: pointer;
    font-size: 0.9vw;
}
.log > div > .actions > div:first-child {
    border-bottom: solid 1px #0000004D;
    padding-right: 2vw;
}