<form method="POST" action="{% url 'video_text:process_background_music' textfile_id %}" id="bg_form" enctype="multipart/form-data">
    <div class="file-upload-container" id="targetDiv" style="display: flex; width: 100%; height: fit-content; justify-content: center; gap: 48px; flex-direction: column;">
        {% csrf_token %}
        <input type="text", hidden name="purpose" value='update'>
        

        <div id="musicContainer" style="display: flex; flex-direction: column; gap: 24px; width: 100%;">
            
            {% for music in musics %}

            <div class="uploadmp3"id="uploadmp3-2" style="display: flex; width: 100%; height: fit-content; justify-content: center; gap: 24px; flex-direction: column;">
                <div class="delete-container" style="justify-content:space-between;">
                    <div class="text">
                        <span>Upload MP3 <span>2</span>:</span>
                    </div>
                    <button  class="delete" onclick="deleteButton(2)"  type="button"  style="background-color:#864af9;color:white;border:none">Delete</button>
                </div>
                <div style="width: 100%; box-sizing: border-box; height: fit-content; padding: 16px 24px; border-radius: 8px; border: 1px dashed #19191980; display: flex; align-items: center; position: relative; font-size: 16px; font-weight: 400; line-height: 23.2px; letter-spacing: 0.02em; text-align: center; gap: 14px;">
                    <svg id="svg2" class="svgIcon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 12.5V15.8333C17.5 16.2754 17.3244 16.6993 17.0118 17.0118C16.6993 17.3244 16.2754 17.5 15.8333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V12.5M14.1667 6.66667L10 2.5M10 2.5L5.83333 6.66667M10 2.5V12.5" stroke="#191919B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input class="fileInput"  name="bg_music_2" type="file" accept="audio/*" id="fileUpload_{{textfile_id}}_2" style="position: absolute; width: 100%; height: 100%; left: 0; opacity: 0;">                                
                    <div class="output" id="uploadText2" style="font-size: 16px; font-weight: 400; line-height: 23.2px; letter-spacing: 0.02em; text-align: center;">
                        Choose File
                    </div>
                    <p style="font-size: 10px; font-family: 'Montserrat';position: relative;" id="mp3_{{ forloop.counter0 }}_current">Current: {{ music.get_music_file_name}}</p>                          

                </div>
                <div class="text">
                    <span>What Second Should This MP3 Play From? <span style="font-size: 12px;font-weight: 500;line-height: 14.63px;text-align: left;">In Minutes</span></span>
                </div>
                <div style="display: flex; gap: 24px; width: 100%;">
                    <div style="display: flex; flex-direction: column; width: 100%; gap: 16px;">
                        <span class="text" style="width: 100%; text-align: left;">Start:</span>
                        <input type="text" onchange="saveInput(this)" placeholder="00:00" class="time startTime" id="from_when_{{textfile_id}}_2" name="from_when_2" style="padding: 12px 24px; border: 1px solid #E3E3E3; border-radius: 4px;">
                    </div>
                    <div style="display: flex; flex-direction: column; width: 100%; gap: 16px;">
                        <span class="text" style="width: 100%; text-align: left;">End:</span>
                        <input type="text" onchange="saveInput(this)" placeholder="00:00" class="time endTime" name="to_when_2" id="to_when_{{textfile_id}}_2" style="padding: 12px 24px; border: 1px solid #E3E3E3; border-radius: 4px;">
                    </div>
                </div>
            
                <div>
                    <div class="Font-Size-text" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
                        <div style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; margin-right: 10px;">
                            MP3 2 Volume:
                        </div>
                        <span id="SliderValue_2" style="font-size: 18px; font-weight: 600; line-height: 21.94px; letter-spacing: 0.02em; text-align: left; color: #000000B2;">50%</span>
                    </div>
                    <div class="Font-Size-Slider" style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 36.89px;">
                        <input type="range" onchange="saveInput(this)" name="bg_level_2" min="0" max="100" value="50" class="slider" id="mySlider_{{textfile_id}}_2" style="width: 100%;">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <input name="no_of_mp3" value="2" id="no_of_mp3" type="number" hidden>

            

                

                <button type="button" id="addMusicBtn" class="button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12H19M12 5V19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                    Upload More MP3
                </button>

                <div id ="submit_form" style="width: 100%; display: block; justify-content: flex-end;">
                    <button type="submit" class="button" style="text-decoration: none; ">
                        Create VSL
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <!-- <div id="proceed" style="width: 100%; display: flex; justify-content: flex-end;">
                    <a href="{% url 'video_text:download_video' textfile_id %}?bg_music=false" class="button" style="text-decoration: none; ">
                        Clear All
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div> -->
            
                <input name="no_of_mp3" value="2" id="no_of_mp3" type="number" hidden>
    </div>
    
</form>
