{% load static %}

    
    <link rel="stylesheet" href="{% static 'resources/assets/folder2.css' %}">
    <style>
        
        .log > div {
    position: relative;
}
.log > div > img {
    cursor: pointer;
}

.log > div > .actions {
    position: absolute;
    background: white;
    border-radius: 0.5vw;
    right: 0;
    top: 2.3vw;
    box-shadow: 0 0 0.2vw #0000004D;
    border: solid 1px #0000004D;
    z-index: 99;
}
.log > div > .actions > div {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 0.5vw 0.6vw;
    cursor: pointer;
    font-size: 0.9vw;
}
.log > div > .actions > div:first-child {
    border-bottom: solid 1px #0000004D;
    padding-right: 2vw;
}
    </style>

    <div class="content">
        <div class="box">
            <div>
                <div class="folderpath">
                    <a href="{%url 'video:category_view' %}">
                        Assets Library
                    <img src="{% static 'resources/assets/assets2//chevron-right.svg' %}" alt="">
                    </a>
                    <a href="{%url 'video:subcategory_view' current_category.id %}">
                        {{current_category.name}}
                        <img src="{% static 'resources/assets/assets2/Chevron-down.svg' %}" alt="">
                    </a>
                </div>

                <a href="#" hx-trigger="click" hx-get="{% url 'video:add_video_clip' current_category.id %}" hx-target="#confirmation-box" hx-swap="innerHTML">
                    <div class="newFolder" >
                            <img src="{% static 'resources/assets/assets2/add.svg' %}" alt="">
                            Upload Video 

                            
                        </div>
                    </a>

            </div>
            <div class="vids">
                {% for video in videos %}
                    <div>

                        <div>
                        <!-- <a href="{%url 'video:category_view_video' current_category.id video.id %}"> -->

                            <div><a href="{%url 'video:category_view_video' current_category.id video.id %}"><img src="{% static 'resources/assets/assets2/Video placeholder.svg' %}" alt=""></a></div>
                            <div><a href="{%url 'video:category_view_video' current_category.id video.id %}">{{video.title}}</a></div>
                        </div>
                        <div class="log">
                        <img src="{% static 'resources/assets/assets2/dots.svg' %}" class="menu" alt="">
                            <div>
                                <div class="actions">
                                    <div>
                                        
                                        <a style="align-items:center;" hx-get="{% url 'video:rename_video_clip' video.id %}"  hx-target="#confirmation-box" 
                                            hx-swap="innerHTML">
                                            <img src="{% static 'resources/assets/assets1/rename.svg' %}" alt="">
                                            Rename
                                        </a>
                                    </div>
                                    <div>
                                        <a style="align-items:center;" hx-get="{% url 'video:delete_video' video.id %}"  hx-target="#confirmation-box" 
                                        hx-swap="innerHTML">
                                            <img src="{% static 'resources/assets/assets1/delete.svg' %}" alt="">
                                            Delete
                                        </a> 
            
            
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                {%endfor %}
                
            </div>
        </div>
    </div>
    