{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>folder</title>
    <link rel="stylesheet" href="{% static 'resources/assets/folder2.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'resources/assets/assets1/logo.svg' %}" alt="">
        <div class="right">
            <span>Credits Remaining: 10</span>
            <img src="{% static 'resources/assets/assets1/Profile.svg' %}" alt="">
        </div>
    </header>
    <div class="content">
        <div class="box">
            <div>
                <div class="folderpath">
                    <a href="{%url 'video:category_view' %}">
                        Assets Library
                    <img src="{% static 'resources/assets/assets2//chevron-right.svg' %}" alt="">
                    </a>
                    <a href="{%url 'video:subcategory_view' current_category.id %}">
                        {{current_category.name}}
                        <img src="{% static 'resources/assets/assets2/Chevron-down.svg' %}" alt="">
                    </a>
                </div>
                <div class="newFolder">
                    <img src="{% static 'resources/assets/assets2/add.svg' %}" alt="">
                    Upload Videos
                </div>
            </div>
            <div class="vids">
                {% for video in videos %}
                    <div>

                        <div>
                        <a href="{%url 'video:category_view_video' current_category.id video.id %}">

                            <div><a href="{%url 'video:category_view_video' current_category.id video.id %}"><img src="{% static 'resources/assets/assets2/Video placeholder.svg' %}" alt=""><a/></div>
                            <div><a href="{%url 'video:category_view_video' current_category.id video.id %}">{{video.title}}</a></div>
                        </div>
                        <img src="{% static 'resources/assets/assets2/dots.svg' %}" class="menu" alt="">
                        <div class="actions">
                            <div>
                                <img src="{% static 'resources/assets/assets1/rename.svg' %}" alt="">
                                Rename
                            </div>
                            <div>
                                <a hx-get="{% url 'video:delete_category' folder.id %}"  hx-target="#confirmation-box" 
                                hx-swap="innerHTML">
                                    <img src="{% static 'resources/assets/assets1/delete.svg' %}" alt="">
                                    Delete
                                </a> 
    
    
                            </div>
                        </div>
                    </div>
                {%endfor %}
                
            </div>
        </div>
    </div>
    
    <!-- <script src="script.js"></script> -->
</body>
</html> 