<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>folder</title>
    <link rel="stylesheet" href="{% static 'resources/assets/folder2.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'resources/assets/assets1/logo.svg' %}" alt="">
        <div class="right">
            <span>Credits Remaining: 10</span>
            <img src="{% static 'resources/assets/assets1/Profile.svg' %}" alt="">
        </div>
    </header>
    <div class="content">
        <div class="box">
            <div>
                <div class="folderpath">
                    <a href="{%url 'video:category_view' %}">
                        Assets Library
                    <img src="{% static 'resources/assets/assets2//chevron-right.svg' %}" alt="">
                    </a>
                    Folder Num 1
                    <img src="{% static 'resources/assets/assets2/Chevron-down.svg' %}" alt="">
                </div>
                <div class="newFolder">
                    <img src="{% static 'resources/assets/assets2/add.svg' %}" alt="">
                    Upload Videos
                </div>
            </div>
            <div class="vids">
                {% for video in videos %}
                    <div>

                        <div>
                            <div><img src="{% static 'resources/assets/assets2/Video placeholder.svg' %}" alt=""></div>
                            <div>{{video.title}}</div>
                        </div>
                        <img src="{% static 'resources/assets/assets2/dots.svg ' %}" alt="">
                    </div>
                {%endfor %}
                <!-- <div>
                    <div>
                        <div><img src="{% static 'resources/assets/assets1/Video placeholder.svg' %}" alt=""></div>
                        <div>Clip Num 2</div>
                    </div>
                    <img src="assets/dots.svg" alt="">
                </div>
                <div>
                    <div>
                        <div><img src="assets/Video placeholder.svg" alt=""></div>
                        <div>Clip Num 3</div>
                    </div>
                    <img src="assets/dots.svg" alt="">
                </div>
                
                <div>
                    <div>
                        <div><img src="assets/Video placeholder.svg" alt=""></div>
                        <div>Clip Num 4</div>
                    </div>
                    <img src="assets/dots.svg" alt="">
                </div> -->
            
            </div>
        </div>
    </div>
    
    <!-- <script src="script.js"></script> -->
</body>
</html> 