
{% extends 'partials/modal_base.html' %}
<!-- Container for the modal -->
{%block modal_heading %}
Upload Folder
{%endblock modal_heading %}

{%block instruction %}
Please make sure your folder contains video
{%endblock  %}
{% block action %}
            
<button class="upload-btn" id="videoUploadButton">Upload</button>

{% endblock action %}

{% block content %}            
    <input id="fileInput"class="fileUpload" type="file" name="folder" webkitdirectory multiple >
    <input type="text" id="directories" name="directories" hidden>
    <input type="text" name="purpose" hidden value='text_file'>
    <!-- <div id="progressWrapper" style="width: 100%; display:none; margin-top: 24px; background-color: #f3f3f3;">
        <div id="progressBar" style="width: 0%; height: 30px; background-color: #4CAF50; text-align: center; line-height: 30px; color: white;">0%</div>
    </div> -->
    <div>
        <div class="progressPercent">
            <span id="progressPercent">0%</span>
        </div>
        <div class="progress-bar">
            <div class="progress" id="progressBar"></div>
        </div>
        </div>
        <div id="uploadStatus" style="text-align: center; margin-top: 12px;"></div>
        {% endblock content %}    
        {% block extra_js%}
        <script>
        document.querySelector("#fileInput").addEventListener("change", function() {
          let files = document.querySelector("#fileInput").files;
          let directories = {};  // This will store folder paths and their corresponding files
          document.getElementById('uploadStatus').textContent =''
        
          // Loop through all selected files
          for (let file of files) {
              const folderPath = file.webkitRelativePath.split('/').slice(0, -1).join('/');
              if (!directories[folderPath]) {
                  directories[folderPath] = [];  // Initialize array for this folder
              }
              directories[folderPath].push(file.name);  // Add file name to the folder
          }
        
          // Send folder structure to backend in a hidden input field
          document.querySelector("#directories").value = JSON.stringify(directories);
        });
        
        // const fileName2= document.getElementById('fileName2')
        
        // const fileUpload2 = document.getElementById('fileInput');
        //   fileUpload2.addEventListener('change', (event) => {
        //     const folderName = event.target.files[0].webkitRelativePath.split('/')[0];
        
        //       const file = event.target.files[0]
        //       if (file) {
        //           fileName2.textContent =folderName.slice(0,10);
        //       } else {
        //           fileName2.textContent = 'No files selected';
        //       }
        //   });
        
        const uploadForm = document.getElementById('uploadForm');
        const progressBar = document.getElementById('progressBar');
        const progressPercent = document.getElementById('progressPercent');
        const uploadStatus = document.getElementById('uploadStatus');
        
        uploadForm.addEventListener('submit', function(event) {
          event.preventDefault();
        
          const files = document.getElementById('fileInput').files;
          if (files.length === 0) {
              alert('Please select files to upload.');
              return;
          }
        
          const formData = new FormData();
          for (let i = 0; i < files.length; i++) {
              formData.append('folder', files[i]);
          }
        
          // Add the directory structure data to the FormData object
          formData.append('directories', document.getElementById('directories').value);
        
          const xhr = new XMLHttpRequest();
        
          // Progress event listener
          xhr.upload.addEventListener('progress', function(e) {
              if (e.lengthComputable) {
                  const percentComplete = (e.loaded / e.total) * 100;
                  if (percentComplete>0){
                    percentComplete=percentComplete-1 
                  }
                  document.getElementById('progressWrapper').style.display='block'
                  document.getElementById('videoUploadButton').disabled=true
                  document.getElementById('videoUploadButton').textContent='Uploading Files...'
        
                  progressBar.style.width = percentComplete + '%';
                  progressPercent.textContent = Math.round(percentComplete) + '%';
              }
          });
        
          // Complete event listener
          xhr.addEventListener('load', function() {
              if (xhr.status === 200) {
                  uploadStatus.textContent = 'Upload completed successfully!';
                  // Example with relative URL
                  window.location.reload();
        
                  
              } else {
                  uploadStatus.textContent = 'Upload failed. Please try again.';
                  document.getElementById('videoUploadButton').textContent='Upload Folder'
                document.getElementById('videoUploadButton').disabled=false
              }
          });
        
          // Error event listener
          xhr.addEventListener('error', function() {
              uploadStatus.textContent = 'An error occurred during the upload.';
          });
        
          // Send the file and directory data
          xhr.open('POST', '{% url "video:upload_video_folder" %}');
          xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          xhr.send(formData);
        });
</script>
{% endblock extra_js%}  
