{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>folder</title>
    <link rel="stylesheet" href="{% static 'resources/assets/folder2.css'%}">
</head>
<body>
    <header>
        <img src="{% static 'resources/assets/assets1/logo.svg'%}" alt="">
        <div class="right">
            <span>Credits Remaining: 10</span> 
            <img src="{% static 'resources/assets/assets1/Profile.svg' %}" alt="">
        </div>
    </header>
    <div class="content">
        <div class="box">
            <div>
                <div class="folderpath">
                    <a href="{%url 'video:category_view' %}">
                        Assets Library
                    <img src="{% static 'resources/assets/assets2//chevron-right.svg' %}" alt="">
                    </a>
                    <a href="{%url 'video:subcategory_view' current_category.id %}">
                        {{current_category.name}}
                        <img src="{% static 'resources/assets/assets2/Chevron-right.svg' %}" alt="">
                    </a>
                    <a href="{%url 'video:category_view_video' current_category.id video.id %}">
                        {{video.title}}
                        <img src="{% static 'resources/assets/assets2/Chevron-down.svg' %}" alt="">
                    </a>

                </div>
                <div class="newFolder">
                    <img src="{% static 'resources/assets/assets3/dots.svg' %}" alt="">
                </div>
            </div>
            <div class="placeholder">
                <img src="{% static 'resources/assets/assets3/VideoPlaceholderbig.svg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="bg"></div>
    <script src="script.js"></script>
</body>
</html> 