{% load static %}

    <link rel="stylesheet" href="{% static 'resources/assets/folder3.css'%}">
    <div class="content">
        <div class="box">
            <div>
                <div class="folderpath">
                    <a href="{%url 'video:category_view' %}">
                        Assets Library
                    <img src="{% static 'resources/assets/assets2/chevron-right.svg' %}" alt="">
                    </a>
                    <a href="{%url 'video:subcategory_view' current_category.id %}">
                        {{current_category.name}}
                        <img src="{% static 'resources/assets/assets2/chevron-right.svg' %}" alt="">
                    </a>
                    <a href="{%url 'video:category_view_video' current_category.id video.id %}">
                        {{video.title}}
                        <img src="{% static 'resources/assets/assets2/Chevron-down.svg' %}" alt="">
                    </a>

                </div>
                <div class="newFolder">
                    <img src="{% static 'resources/assets/assets3/dots.svg' %}" alt="">
                </div>
            </div>
            <div class="placeholder">
                <div class="video-card">
                    <video id="video" width="100%" controls >
                        <source src="{{video.video_file.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- <img src="{% static 'resources/assets/assets3/VideoPlaceholderbig.svg' %}" alt=""> -->
            </div>
        </div>
    </div>
    <!-- <div class="bg"></div>
    <script src="script.js"></script>
</body>
</html>  -->